body {
    color: rgb(255, 255, 255);
    background: rgb(170, 40, 84);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(170, 236, 220);
    padding: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
section {
    background: rgb(94, 152, 240);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 20px;
}
body {
    color: white;
    background: rgb(172, 24, 86);
    margin: 0px;
    font-family:"Chakra Petch", sans-serif;
  }
  h1 {
    font-size: 40px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  /* código omitido */
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  